n8n_error_alert_workflow.json
{
  "name": "Error Alerting — Client Monitoring",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const exec = $json.execution;\nconst wf = $json.workflow;\nconst err = exec.error;\n\nconst timestamp = new Date().toLocaleString('cs-CZ', { timeZone: 'Europe/Prague' });\n\n// Try to extract client name from workflow name (convention: \"[ClientName] — WorkflowType\")\nconst wfName = wf.name || 'Neznámý workflow';\nconst clientMatch = wfName.match(/^(.+?)\\s*[—\\-]/);\nconst clientName = clientMatch ? clientMatch[1].trim() : wfName;\n\nconst subject = `⚠️ Chyba: ${wfName}`;\n\nconst htmlBody = `\n<div style=\"font-family:sans-serif;max-width:600px\">\n  <h2 style=\"color:#dc2626\">⚠️ Chyba ve workflow</h2>\n  <table style=\"border-collapse:collapse;width:100%\">\n    <tr><td style=\"padding:6px 0;font-weight:bold;width:160px\">Klient</td><td style=\"padding:6px 0\">${clientName}</td></tr>\n    <tr><td style=\"padding:6px 0;font-weight:bold\">Workflow</td><td style=\"padding:6px 0\">${wfName}</td></tr>\n    <tr><td style=\"padding:6px 0;font-weight:bold\">Chyba</td><td style=\"padding:6px 0;color:#dc2626\">${err?.message || 'Neznámá chyba'}</td></tr>\n    <tr><td style=\"padding:6px 0;font-weight:bold\">Poslední uzel</td><td style=\"padding:6px 0\">${exec.lastNodeExecuted || '—'}</td></tr>\n    <tr><td style=\"padding:6px 0;font-weight:bold\">Čas</td><td style=\"padding:6px 0\">${timestamp}</td></tr>\n    <tr><td style=\"padding:6px 0;font-weight:bold\">Execution ID</td><td style=\"padding:6px 0\">${exec.id || '—'}</td></tr>\n  </table>\n  ${exec.url ? `<p style=\"margin-top:16px\"><a href=\"${exec.url}\" style=\"background:#2563eb;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;font-weight:bold\">Zobrazit execution →</a></p>` : ''}\n  ${err?.stack ? `<details style=\"margin-top:16px\"><summary style=\"cursor:pointer;color:#6b7280\">Stack trace</summary><pre style=\"background:#f3f4f6;padding:12px;border-radius:6px;font-size:12px;overflow:auto\">${err.stack}</pre></details>` : ''}\n</div>\n`;\n\nreturn [{ json: { subject, htmlBody, clientName, wfName, errorMessage: err?.message } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "modelsals482@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [{ "node": "Format Alert", "type": "main", "index": 0 }]
      ]
    },
    "Format Alert": {
      "main": [
        [{ "node": "Send Alert Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "monitoring" },
    { "name": "infra" }
  ]
}
